http://127.0.0.1:8082 {
    encode zstd gzip

    @datasets {
        method GET
        path /api/v1/datasets
    }
    handle @datasets {
        reverse_proxy 127.0.0.1:9380
    }

    @retrieval {
        method POST
        path /api/v1/retrieval
    }
    handle @retrieval {
        reverse_proxy 127.0.0.1:9380
    }

    handle {
        respond "Not Found" 404
    }
}
